# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/
.pytest_temp/

# Environments
.env
.venv/
env/
venv/

# Caches and Tooling
.mypy_cache/
.ruff_cache/
artifacts/
playwright-report/
.idea/
.vscode/